@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
  --font-display: var(--font-poppins);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617; /* slate-950 */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family is handled by font-sans utility class in layout.tsx */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}

/* Custom Utilities */
@layer utilities {
  .glow-radial {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, transparent 70%);
  }
  
  .text-glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}

@layer utilities {
  .animate-meteor {
    animation: meteor 5s linear infinite;
  }
  .animate-meteor-falling {
    animation: meteor-falling 5s linear infinite;
  }
}

@keyframes meteor {
  0% {
    transform: rotate(215deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(215deg) translateX(-500px);
    opacity: 0;
  }
}

@keyframes meteor-falling {
  0% {
    transform: rotate(90deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(90deg) translateX(-1000px); /* Move down */
    opacity: 0;
  }
}
